<% title "อาคาร" %>
<div class="memu_show"><%= link_to "ย้อนกลับ", buildings_path %> | <%= link_to "แก้ไข", edit_building_path(@building) %></div><div style="clear:both"></div>
<p>
  <strong>อาคาร:</strong>
  <%= @building.name %>
</p>


